<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>valid form data is </h1>
        <h2>The name is {{n}}</h2>
        <h2> The age is {{a}}</h2>
        <h2>The email id is {{e}}</h2>
        <h2>The gender is {{g}}</h2>
        <h2>The course name is {{c}}</h2>
    </center>
</body>
</html>